{% extends "layout.html" %}

{% block title %}
User Profile
{% endblock %}

{% block content %}
<h1 class="text-white text-center">Welcome to Python and Django</h1>

<h2 class="text-white">
    {%if form.instance.pk %}
    Edit tweet

    {% else %}
    Create tweet
    {% endif %}

    <form action="" method="post" enctype="multipart/form-data" class="form">
        {{form.as_p}}

        {% csrf_token %}

        <button class="btn btn-warning">Submit</button>

    </form>
    <a href="{% url 'tweet_list' %}">Back to tweet list </a>

</h2>

{% endblock %}